<!DOCTYPE html>
<html>

<head>
	<title>Password Manager - Dashboard</title>
	<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Bungee">
	<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Russo+One">
	<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
	<link rel='stylesheet' href="/stylesheets/style.css" />
	<script src="/javascripts/script.js"></script>
</head>
<body onload="load('<%=passwords.length%>')">
	<div id="pwd-maker-menu">
		<div class="header">
			<h1>Crea una nuova password</h1>
			<i class="bi bi-chevron-up" onclick="showHideMakerForm()"></i>
		</div>
		<form class="menu" action="/dashboard" method="POST" name="form">
			<input type="hidden" name="action" value="add" />
			<input type="text" id="account" class="text-field" name="account" placeholder="Account" required />
			<div class="pwd-input-container">
				<input type="password" id="pwd" class="pwd-field" name="password" placeholder="Password" required />
				<i id="eyeBtn" class="bi bi-eye-fill" onclick="togglePwdVisibility()"></i>
			</div>
			<input type="submit" id="submitBtn" value="Crea" />
			<label id="logLabel"></label>
			<table id="pwdOptions">
				<tr>
					<td id="labeledCb">
						<input type="checkbox" id="uppercaseCb" checked="true" value="ciao" />
						<label for="uppercaseCb">Lettere maiuscole</label>
					</td>
					<td id="labeledCb">
						<input type="checkbox" id="lowercaseCb" checked="true" />
						<label for="lowercaseCb">Lettere minuscole</label>
					</td>
				</tr>
				<tr>
					<td id="labeledCb">
						<input type="checkbox" id="numbersCb" checked="true" />
						<label for="numbersCb">Numeri</label>
					</td>
					<td id="labeledCb">
						<input type="checkbox" id="symbolsCb" checked="true" />
						<label for="symbolsCb">Simboli</label>
					</td>
				</tr>
			</table>
			<div id="labeledSpinner">
				<label for="lengthSpinner">Lunghezza:</label>
				<input type="number" id="lengthSpinner" min="4" max="24" step="1" value="10" />
			</div>
			<input type="button" id="generatePwdBtn" onclick="generate();" value="Genera" />
		</form>
	</div>
	<div id="stored-pwd-menu">
		<div class="header">
			<h1>Password salvate</h1>
			<i id="sp-header-arrow" class="bi bi-chevron-up" onclick="showHidePasswords()"></i>
		</div>
		<div class="menu">
			<%
				for (let i = 0; i < passwords.length; i++) {
					var pwd = passwords[i];%>
					<form class="storedPwd" id="single-pwd-form<%=i%>" action="/dashboard" method="POST">
						<div>
							<input id="actionSpec<%=i%>" type="hidden" name="action" />
							<input type="hidden" name="index" value="<%=i%>" />
							<h2>Account: <%=pwd.account%></h2>
							<h2 id="single-pwd-text<%=i%>">
								Password: <label id="pwd-text<%=i%>"><%=pwd.password%></label>
							</h2>
							<h2 id="single-pwd-input<%=i%>" class="editing removed">
								<input type="text" name="password" class="text-field reduced" value="<%=pwd.password%>" placeholder="Nuova password" required />
							</h2>
						</div>
						<div id="actions<%=i%>" class="actions">
							<i id="copyIcon<%=i%>" class="bi bi-clipboard sp-action" onclick="copyPassword('<%=i%>')"></i>
							<i id="copyIconSuccess<%=i%>" class="bi bi-clipboard-check sp-action removed"></i>
							<i class="bi bi-pencil sp-action" onclick="editPassword('<%=i%>')"></i>
							<i class="bi bi-trash sp-action" onclick="deletePassword('<%=i%>')"></i>
						</div>
						<div id="submitButtons<%=i%>" class="actions removed">
							<i id="confirmAction<%=i%>" class="bi bi-check2 sp-action"></i>
							<i id="cancelAction<%=i%>" class="bi bi-x sp-action"></i>
						</div>
					</form>
				<%}
			%>
		</div>
	</div>
</body>
</html>